







.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {  
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: -1;
}

.resources {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  width: 1100px;
  padding-top: 80px;
  padding: auto 0;
}

.resources__link:hover {
  opacity: .5;
  transition: .5s ease-in;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  min-height: 350px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 60px 0px 40px 0px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__author {
  width: fit-content;
  padding: 18px 0px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  margin: 0;
}

.footer__column_content_social {
  margin: 0;
}

.footer__column_content_info {
  margin: 0;
}

.footer__column-heading {
  padding: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.footer__column-links {
  padding: 0 0 16px 0;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  margin: 0;
  padding: 0%;
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  padding-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__column-link:hover {
  opacity: .5;
  transition: .5s ease-in;
}

